<div class="product">
    <div class="product__container">
        <div class="product__like" (click)="toggleFavourite()">
            <tui-svg [src]="'tuiIconHeartLarge'" [ngClass]="product.isFavourite ? 'icon-pink' : 'icon-black'"></tui-svg>
        </div>
        <div class="product__image-container">
            <img [src]="product.image" alt="" class="product__image" (click)="navigateToProduct()">
        </div>
        <h2 class="product__title">{{ product.title | titlecase }}</h2>
        <div class="product__info">
            <p class="product__rating">
                <span class="product__rate">Rating: <b>{{ product.rating.rate }} </b></span>
                <span class="product__count">({{ product.rating.count }})</span>
                <span class="product__price">{{ product.price }} $</span>
            </p>
            <button class="product__cart-button"
                tuiButton
                [size]="'s'"
                (click)="addToCart(product)"
            >
                Добавить в корзину
            </button>
        </div>
    </div>
</div>
