<div class="cart">
    <div class="cart__container" *ngIf="cartService.products$ | async as products">
        <h2 class="cart__sum">Итоговая стоимость {{ totalCartSum$ | async }} $</h2>
        <ul class="cart__products" *ngIf="products.length > 0 else emptyCart">
            <li class="cart__product" *ngFor="let product of products; let i = index">
                <img [src]="product.image" alt="" class="cart__image">
                <div class="cart__info">
                    <h2 class="cart__title">{{ product.title }}</h2>
                    <span class="cart__price">{{ product.price }} $</span>
                </div>
                <div class="cart__remove" (click)="removeFromCart(i)">
                    <tui-svg [src]="'tuiIconXSquareLarge'"></tui-svg>
                </div>
            </li>
        </ul>

        <ng-template #emptyCart>
            <h2 class="cart__message">Ваша корзина пуста</h2>
        </ng-template>
    </div>
</div>
