.catalog {
    &__container {
        display: flex;
        flex-shrink: 0;
    }

    &__filter-bar {
        flex-basis: 20%;
        flex-grow: 0;
    }

    &__products {
        flex-basis: 80%;
        flex-grow: 1;
    }
}
